<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857702072056-vgo7t896mmpqhonjvl5eoonvsj22ouqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857702072056-vgo7t896mmpqhonjvl5eoonvsj22ouqv</string>
	<key>API_KEY</key>
	<string>AIzaSyCNY3jukjQ7Dw768b3mPS7TQ_GdVM1-ZL0</string>
	<key>GCM_SENDER_ID</key>
	<string>857702072056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aadi.chatty</string>
	<key>PROJECT_ID</key>
	<string>chatty-flutter-492f9</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-flutter-492f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857702072056:ios:935d6c7d9e5f8030d4050d</string>
</dict>
</plist>